In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import os
import yaml
import json
import time
from datetime import datetime
import multiprocessing as mp
import statsmodels.api as sm
from functools import partial
# import dolphindb as ddb
from itertools import chain, product 
from threadpoolctl import threadpool_limits 
from sklearn.linear_model import LinearRegression
import asyncpg
# from PNL import *
from flib.utils import read_supplementary_data, read_target_return, transform_column_type
from flib import DailyReader
from utils import *
import flib
import random
# pd.set_option('display.max_rows', None)  # 显示所有行
# from PNL import PNL_STOCK
warnings.filterwarnings("ignore")
# from pilot import *
from tqdm import tqdm
from implied_vol_solver import CDSImpliedVolatilitySolver, CDSQuoteType
from utils import read_financial_data
import sys
from io import StringIO
from contextlib import redirect_stdout
import logging
logging.getLogger('implied_vol_solver').setLevel(logging.WARNING)  # 只显示警告和错误
from tqdm import tqdm

## data loading

In [3]:
# data loading
path_lst = os.listdir('/home/yicheng/credit/data')
df_all = pd.DataFrame()
for path  in tqdm(path_lst):
    a = pd.read_parquet(f'/home/yicheng/credit/data/{path}')
    use_lst = ['ticker','date','tenor','parspread','convspreard','upfront', 'runningcoupon','primarycoupon', 'cdsrealrecovery','cdsassumedrecovery','carriedforward', 'compositedepth5y',]
    b = a.loc[a['tenor']=='5Y']
    temp = b
    # temp['path'] = path
    df_all = pd.concat([df_all,temp])

100%|██████████| 5/5 [00:00<00:00, 10.61it/s]

In [22]:
# show columns
a.columns.tolist()

['ticker',
 'date',
 'batch',
 'shortname',
 'redcode',
 'sector',
 'region',
 'country',
 'avrating',
 'impliedrating',
 'tier',
 'currency',
 'docclause',
 'primarycurve',
 'primarypricetype',
 'runningcoupon',
 'primarycoupon',
 'tenor',
 'parspread',
 'convspreard',
 'upfront',
 'cdsrealrecovery',
 'cdsassumedrecovery',
 'carriedforward',
 'compositedepth5y',
 'primarydepthcontributed',
 'primarydepthpassed',
 'primarydepthpassed1wma',
 'primarydepthpassed1mma',
 'primarydepthpassed2mma',
 'compositepricerating',
 'compositecurverating',
 'hasclearsubmissions',
 'hasquotes',
 'hasbankcontributions',
 'clearingsubmissionsdepthcontr',
 'quotesdepthcontr',
 'bankcontributionsdepthcontr',
 'clearingsubmissionsdepthpassed',
 'quotesdepthpassed',
 'bankcontributionsdepthpassed',
 'dailyupdatefrequency',
 'maxdailymovement',
 '_52wkhigh5y',
 '_52wklow5y',
 'contrstddevpassedrecovery',
 'contrlqrangepassed',
 'contrlqrangepassedrecovery',
 'contr10thpctlpassed',
 'contr10pctlpassedrecovery',
 'contr90thpctlpassed',
 'contr90thpctlpassedrecovery',
 'contrmaxminrangepassed',
 'contrmaxminrangepassedrecovery',
 'tierbasis',
 'isdabasis',
 'ccybasis',
 'docclausebasis',
 'tierbasiscarriedforward',
 'tierbasisdepthpassed',
 'tierbasisstddevpassed',
 'tierbasis10thpctlpassed',
 'tierbasis90thpctlpassed',
 'isdabasiscarriedforward',
 'isdabasisdepthpassed',
 'isdabasisstddevpassed',
 'isdabasis10thpctlpassed',
 'isdabasis90thpctlpassed',
 'ccybasiscarriedforward',
 'ccybasisdepthpassed',
 'ccybasisstddevpassed',
 'ccybasis10thpctlpassed',
 'ccybasis90thpctlpassed',
 'docclausebasiscarriedforward',
 'docclausebasisdepthpassed',
 'docclausebasisstddevpassed',
 'docclausebasis10thpctlpassed',
 'docclausebasis90thpctlpassed',
 'tenorbasisdepthpassed',
 'tenorbasisstddevpassed',
 'tenorbasis10thpctlpassed',
 'tenorbasis90thpctlpassed',
 'idxmember',
 'dealersclearingcountcruve',
 'dealersclearingcountcurve1wma',
 'dealersclearingcountcurve1mma',
 'dealersclearingcountcurve2mma',
 'dealersquotescountcurve',
 'dealersquotescountcurve1wma',
 'dealersquotescountcurve1mma',
 'dealersquotescountcurve2mma',
 'quotescountcurve',
 'quotescountcurve1wma',
 'quotescountcurve1mma',
 'quotescountcurve2mma',
 'dealersquotescounttenor',
 'dealersquotescounttenor1wma',
 'dealersquotescounttenor1mma',
 'dealersquotescounttenor2mma',
 'quotescounttenor',
 'quotescounttenor1wma',
 'quotescounttenor1mma',
 'quotescounttenor2mma',
 'dealersborcountcurve',
 'dealersborcountcurve1wma',
 'dealersborcountcurve1mma',
 'dealersborcountcurve2mma',
 'upfrontbaspreadaverage',
 'upfrontbaspreadaverage1wma',
 'upfrontbaspreadaverage1mma',
 'upfrontbaspreadaverage2mma',
 'upfrontbaspreadhigh',
 'upfrontbaspreadhigh1wma',
 'upfrontbaspreadhigh1mma',
 'upfrontbaspreadhigh2mma',
 'convbaspreadaverage',
 'convbaspreadaverage1wma',
 'convbaspreadaverage1mma',
 'convbaspreadaverage2mma',
 'convbaspreadhigh',
 'convbaspreadhigh1wma',
 'convbaspreadhigh1mma',
 'convbaspreadhigh2mma',
 'bidasktype5y',
 'baspreaddepthpassed',
 'upfrontbaspreadstddevpassed',
 'upfrontbaspread10thpctlpassed',
 'upfrontbaspread90thpctlpassed',
 'convbaspreadstddevpassed',
 'convbaspread10thpctlpassed',
 'convbaspread90thpctlpassed',
 'estimatednotional',
 'curveliquidityscore',
 'curveliquidityscore1wma',
 'curveliquidityscore1mma',
 'curveliquidityscore2mma',
 'sec4lastupdate',
 'wklygnsec4',
 'wklygnsec41mma',
 'wklygnsec42mma',
 'wklycontrctsec4',
 'wklycontrctsec41mma',
 'wklycontrctsec42mma',
 'gnxtrd',
 'gnxtrd1mma',
 'gnxtrd2mma',
 'tbl6lastupdate',
 'wklygrossnotional',
 'wklygrossnotional1m',
 'wklygrossnotional1y',
 'wklynetnotional',
 'wklynetnotional1m',
 'wklynetnotional1y',
 'wklycontr',
 'wklycontr1m',
 'wklycontr1y',
 'creditdv01',
 'riskypv01',
 'irdv01',
 'rec01',
 'dp',
 'jtd',
 'dtz']

In [5]:
# filter the data whose tenor is 5y and coupon limitation is y
# use this condition to filter the data
df_all = df_all.loc[(df_all['tenor']=='5Y') & (df_all['primarycoupon']=='Y') & (df_all['primarycurve']=='Y') & (df_all['currency']=='USD')]

In [6]:
# df_all.to_csv('res/df_all.csv')

In [7]:
# all data including multiple value in one day, which has been saved in res/df_all.csv
# data has so many columns, we need to select the columns we need. And here I show all columns, haowen could find it by opening csv file to look it in detail.
df_all

,ticker,date,batch,shortname,redcode,sector,region,country,avrating,impliedrating,...,wklycontr,wklycontr1m,wklycontr1y,creditdv01,riskypv01,irdv01,rec01,dp,jtd,dtz
178,XRX,2022-01-03,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,545.0,590.0,683.0,4401.47,4.60,-121.70,15451.03,0.162944,5518518.17,9518518.17
412,XRX,2022-01-04,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,545.0,590.0,683.0,4387.24,4.59,-122.94,15515.82,0.164074,5512944.76,9512944.76
646,XRX,2022-01-05,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,547.0,585.0,687.0,4386.61,4.59,-122.32,15476.74,0.163569,5515151.95,9515151.95
881,XRX,2022-01-06,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,547.0,585.0,687.0,4368.83,4.57,-124.83,15615.40,0.165471,5504446.24,9504446.24
1114,XRX,2022-01-07,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,547.0,585.0,687.0,4354.57,4.56,-126.80,15727.14,0.167023,5495924.07,9495924.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60697,XRX,2024-12-25,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,3146.10,3.87,-435.73,32910.45,0.424851,4141651.81,8141651.81
60859,XRX,2024-12-26,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,3159.03,3.87,-431.27,32699.81,0.421303,4161241.85,8161241.85
61075,XRX,2024-12-27,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,3155.97,3.87,-432.02,32742.75,0.421792,4157342.68,8157342.68
61291,XRX,2024-12-30,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,3147.92,3.86,-431.58,32738.99,0.422024,4155715.16,8155715.16
61471,XRX,2024-12-31,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,3153.02,3.87,-432.00,32752.11,0.421120,4155590.69,8155590.69

In [8]:
# at this one we need to adjust the method to first()
# df_use = df_all.sort_values(by=['date',],inplace=False).groupby('date').first()

# ensures there is at most one row per date
df_all['date'] = pd.to_datetime(df_all['date'])
assert len(df_all['date']) == len(df_all['date'].unique())
df_use = df_all.sort_values(by=['date',], inplace=False)

In [9]:
df_use

,ticker,date,batch,shortname,redcode,sector,region,country,avrating,impliedrating,...,wklycontr,wklycontr1m,wklycontr1y,creditdv01,riskypv01,irdv01,rec01,dp,jtd,dtz
178,XRX,2021-01-01,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,683.0,729.0,710.0,4598.19,4.74,-89.30,13626.02,0.138504,5651615.96,9651615.96
412,XRX,2021-01-04,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,683.0,729.0,710.0,4589.80,4.73,-89.10,13607.06,0.138319,5651802.80,9651802.80
646,XRX,2021-01-05,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,683.0,729.0,710.0,4591.69,4.74,-88.78,13593.32,0.138103,5653011.41,9653011.41
882,XRX,2021-01-06,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,687.0,720.0,708.0,4594.28,4.73,-86.07,13426.01,0.136374,5663417.38,9663417.38
1114,XRX,2021-01-07,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,BB,BB,...,687.0,720.0,708.0,4593.06,4.73,-84.47,13325.27,0.135425,5669464.57,9669464.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26762,XRX,2025-09-08,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,1105.41,2.45,-921.29,37434.00,0.813938,1876732.97,5043399.67
26870,XRX,2025-09-09,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,1059.03,2.42,-930.90,37162.76,0.825779,1793424.99,4960091.69
26978,XRX,2025-09-10,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,1011.52,2.38,-936.03,36766.28,0.837243,1719635.88,4886302.58
27086,XRX,2025-09-11,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,1002.95,2.37,-934.70,36593.63,0.837956,1711309.92,4877976.62
27194,XRX,2025-09-12,EOD,Xerox Corp,9HC533,Technology,N.Amer,United States,B,CCC,...,NaN,NaN,NaN,1005.29,2.37,-935.28,36682.48,0.837984,1711292.12,4877958.82

In [10]:
long_term_debt = read_financial_data('financials_1049_ytd', 'ytd', '2020-01-01', '2025-01-01')
current_asset = read_financial_data('financials_1008_ytd', 'ytd', '2020-01-01', '2025-01-01')
current_asset_short_term_ratio = read_financial_data('financials_43901_ytd', 'ytd', '2020-01-01', '2025-01-01')
shares = read_financial_data('financials_1070_ytd', 'ytd', '2020-01-01', '2025-01-01')
short_term_debt = current_asset / current_asset_short_term_ratio
financial_debt = long_term_debt + short_term_debt
financial_debt_ratio = financial_debt / shares

FileNotFoundError: [Errno 2] No such file or directory: '/flabshm_sp_financials_ytd.idx'

In [12]:
close = DailyReader('sp_stock_daily_2010').get_data('vwap')
close_ticker = transform_column_type(df = close, column_type='ticker')
financial_debt_ratio = transform_column_type(df = financial_debt_ratio, column_type='ticker')
df_use.set_index('date',inplace=True)
df_use.index = pd.to_datetime(df_use.index)

# 使用reindex替代loc，自动处理缺失索引
close_ticker_aligned = close_ticker.reindex(df_use.index)
financial_debt_aligned = financial_debt_ratio.reindex(df_use.index)
close_ticker_aligned['XRX'].name = 'stock_price'
financial_debt_aligned['XRX'].name = 'financial_debt_ratio'

NameError: name 'financial_debt_ratio' is not defined

In [14]:
# if we use join , we do not use reindex
close_ticker['XRX'].name = 'stock_price'
financial_debt_ratio['XRX'].name = 'financial_debt_ratio'
df = df_use.join(close_ticker['XRX'],how='left').join(financial_debt_ratio['XRX'],how='left').dropna(subset=['stock_price','financial_debt_ratio'])

In [15]:
# if we use concat 
# df = pd.concat([df_use,close_ticker_aligned['XRX'],financial_debt_aligned['XRX']],axis=1).dropna()

the res is the same between join and concat

In [16]:
df.to_csv('res/input_data.csv')

## model using
### begin from this(read data which had been saved)

In [13]:
df = pd.read_csv('res/input_data.csv',index_col='date')

In [ ]:
# implied vol calculation
# S = 100.0        # stock price
# D = 150.0        # debt per share
t = 5.0          # CDS tenor
r = 0.05         # risk free rate
R = 0.4          # recovery rate
L = 0.5          # loss given default
lamb = 0.3       # barrier deviation
notional = 100_000_000        
cds_coupon = 0.01

# create new columns
df['implied_vol'] = np.nan 
df['par_spread_error'] = np.nan
solver = CDSImpliedVolatilitySolver(t, r, L, lamb, notional, CDSQuoteType.UPFRONT)

with redirect_stdout(StringIO()):
    for i, row in tqdm(df.iterrows()):
        # imply vol by CDS upfront
        market_cds_upfront = row['upfront']
        cds_coupon = row['runningcoupon']
        R = row['cdsassumedrecovery']
        D = row['financial_debt_ratio']
        S = row['stock_price']
        implied_vol, error = solver.solve_implied_volatility(S, D, market_cds_upfront, cds_coupon, R, method='brent')
        df.at[i, 'implied_vol'] = implied_vol
        df.at[i, 'par_spread_error'] = error

1003it [00:04, 232.76it/s]

In [ ]:
# greek calculation
solver = CDSImpliedVolatilitySolver(t, r, L, lamb, notional, cds_coupon)
df['delta'] = np.nan
df['gamma'] = np.nan

with redirect_stdout(StringIO()):
    for i, row in tqdm(df.iterrows()):
        try:
            # 获取必要参数
            S = row['stock_price']
            D = row['financial_debt_ratio']
            implied_vol = row['implied_vol']
            R = row['cdsassumedrecovery']
            
            # 使用我们实现的方法计算delta和gamma
            delta = solver.delta_calculation(S, D, implied_vol, R)
            gamma = solver.gamma_calculation(S, D, implied_vol, R)
            
            # 保存结果
            df.at[i, 'delta'] = delta
            df.at[i, 'gamma'] = gamma
            
        except Exception as e:
            # 记录错误但继续执行
            print(f"计算行 {i} 时出错: {e}")
            continue

1003it [00:01, 512.64it/s]

In [ ]:
# data save to output_data.csv
# today = datetime.now().strftime('%Y%m%d')
df.to_csv(f'res/output_data.csv')

In [ ]:
from generate_daily_hedge_maps import generate_daily_hedge_maps

# 使用已有的df(output_data.csv)
hedge_maps = generate_daily_hedge_maps(
    df, 
    t=5.0, 
    r=0.05, 
    L=0.5, 
    lamb=0.3, 
    notional=10_000_000,
    output_dir='res/hedge_maps'
)

# 查看第一个日期的对冲表
sample_date = list(hedge_maps.keys())[0]
print(f"对冲表样例 (日期: {sample_date}):")
sample_map = hedge_maps[sample_date]

# 打印前5个价格点
for price in sorted(list(sample_map.keys()))[:5]:
    print(f"股价 ${price:.2f} -> 交易 {int(sample_map[price]):+,d} 股")

Generating hedge maps: 100%|██████████| 1003/1003 [00:30<00:00, 32.78it/s]

对冲表样例 (日期: 2021-01-04):
股价 $18.02 -> 交易 +10,373 股
股价 $18.24 -> 交易 +9,675 股
股价 $18.47 -> 交易 +9,001 股
股价 $18.69 -> 交易 +8,350 股
股价 $18.92 -> 交易 +7,721 股

In [21]:
sample_map

{18.02: 10373,
 18.24: 9675,
 18.47: 9001,
 18.69: 8350,
 18.92: 7721,
 19.14: 7114,
 19.37: 6526,
 19.59: 5958,
 19.82: 5408,
 20.04: 4875,
 20.27: 4360,
 20.49: 3861,
 20.72: 3377,
 20.94: 2909,
 21.17: 2454,
 21.39: 2014,
 21.62: 1586,
 21.84: 1172,
 22.07: 770,
 22.29: 379,
 22.52: 0,
 22.75: -368,
 22.97: -726,
 23.2: -1074,
 23.42: -1412,
 23.65: -1740,
 23.87: -2059,
 24.1: -2370,
 24.32: -2672,
 24.55: -2965,
 24.77: -3251,
 25.0: -3530,
 25.22: -3800,
 25.45: -4064,
 25.67: -4321,
 25.9: -4571,
 26.12: -4814,
 26.35: -5052,
 26.57: -5283,
 26.8: -5508,
 27.02: -5728}

In [18]:
df.delta.describe()

count    1003.000000
mean       -0.003826
std         0.002145
min        -0.011870
25%        -0.004416
50%        -0.003432
75%        -0.002327
max        -0.001187
Name: delta, dtype: float64

In [19]:
df.gamma.describe()

count    1003.000000
mean        0.000558
std         0.000505
min         0.000104
25%         0.000238
50%         0.000424
75%         0.000612
max         0.002762
Name: gamma, dtype: float64

## Draft Files(unimportant)

In [21]:
fin_ytd_info = read_supplementary_data('stock', 'financials_ytd_dataitem')
fin_ltm_info = read_supplementary_data('stock', 'financials_ltm_dataitem')
fin_info = pd.concat([fin_ytd_info, fin_ltm_info], axis=0)
fin_info

,Table name,Defination,Dataitemid,Type,Source
0,financials_1_ytd,Cost Of Revenues,1,ytd,Income Statement
1,financials_2_ytd,"Depreciation & Amortization, Total - (IS)",2,ytd,Income Statement
2,financials_4_ytd,"EBT, Excl. Unusual Items",4,ytd,Income Statement
3,financials_6_ytd,Earnings Before Xtra Ord. Item & Accounting Ch...,6,ytd,Income Statement
4,financials_7_ytd,Earnings From Continuing Operations,7,ytd,Income Statement
...,...,...,...,...,...
653,financials_49175_ltm,"Net Debt/EBITDA, Excl. Operating Lease Adjustment",49175,ltm,Calculated Intra-Period Ratio
654,financials_49182_ltm,"Net Debt/(EBITDA, Excl. Operating Lease Adjust...",49182,ltm,Calculated Intra-Period Ratio
655,financials_49183_ltm,"Total Debt/(EBITDA, Excl. Operating Lease Adju...",49183,ltm,Calculated Intra-Period Ratio
656,financials_100689_ltm,EBITA,100689,ltm,Income Statement
657,financials_100696_ltm,Sale / Purchase of Stock,100696,ltm,Cash Flow

In [22]:
fin_info.loc[fin_info['Defination'].str.contains('Shares')]

,Table name,Defination,Dataitemid,Type,Source
44,financials_342_ytd,Diluted Weighted Average Shares Outstanding,342,ytd,Weighted Average Shares
85,financials_1070_ytd,Total Common Shares Outstanding,1070,ytd,Balance Sheet Shares
86,financials_1072_ytd,Total Shares Outstanding on Filing Date,1072,ytd,Filing Cover Shares
97,financials_1100_ytd,Common Shares Outstanding,1100,ytd,Balance Sheet Shares
119,financials_1237_ytd,Shares Outstanding on Filing Date,1237,ytd,Filing Cover Shares
149,financials_2024_ytd,Net Common Shares Issued / Bought Back,2024,ytd,Cash Flow
168,financials_2075_ytd,Common Shares Issued / Bought Back - (CF - Fin...,2075,ytd,Cash Flow
170,financials_2087_ytd,Common Shares for Exercise of Stock Options,2087,ytd,Cash Flow
253,financials_3217_ytd,Basic Weighted Average Shares Outstanding,3217,ytd,Weighted Average Shares
518,financials_24152_ytd,ECS Total Common Shares Outstanding,24152,ytd,Balance Sheet Shares
519,financials_24153_ytd,ECS Total Shares Outstanding on Filing Date,24153,ytd,Filing Cover Shares
589,financials_42404_ytd,Reported Weighted Average Basic Shares Outstan...,42404,ytd,Weighted Average Shares
590,financials_42405_ytd,Reported Weighted Average Diluted Shares Outst...,42405,ytd,Weighted Average Shares
44,financials_342_ltm,Diluted Weighted Average Shares Outstanding,342,ltm,Weighted Average Shares
85,financials_1070_ltm,Total Common Shares Outstanding,1070,ltm,Balance Sheet Shares
86,financials_1072_ltm,Total Shares Outstanding on Filing Date,1072,ltm,Filing Cover Shares
97,financials_1100_ltm,Common Shares Outstanding,1100,ltm,Balance Sheet Shares
119,financials_1237_ltm,Shares Outstanding on Filing Date,1237,ltm,Filing Cover Shares
149,financials_2024_ltm,Net Common Shares Issued / Bought Back,2024,ltm,Cash Flow
168,financials_2075_ltm,Common Shares Issued / Bought Back - (CF - Fin...,2075,ltm,Cash Flow
170,financials_2087_ltm,Common Shares for Exercise of Stock Options,2087,ltm,Cash Flow
253,financials_3217_ltm,Basic Weighted Average Shares Outstanding,3217,ltm,Weighted Average Shares
518,financials_24152_ltm,ECS Total Common Shares Outstanding,24152,ltm,Balance Sheet Shares
519,financials_24153_ltm,ECS Total Shares Outstanding on Filing Date,24153,ltm,Filing Cover Shares
589,financials_42404_ltm,Reported Weighted Average Basic Shares Outstan...,42404,ltm,Weighted Average Shares
590,financials_42405_ltm,Reported Weighted Average Diluted Shares Outst...,42405,ltm,Weighted Average Shares

In [23]:
fin_info.loc[fin_info['Table name'].isin(['financials_1049_ytd','financials_1008_ytd','financials_43901_ytd','financials_1070_ytd'])]

,Table name,Defination,Dataitemid,Type,Source
63,financials_1008_ytd,Total Current Assets,1008,ytd,Balance Sheet
77,financials_1049_ytd,Long-Term Debt,1049,ytd,Balance Sheet
85,financials_1070_ytd,Total Common Shares Outstanding,1070,ytd,Balance Sheet Shares
600,financials_43901_ytd,Current Assets / Short Term Debt,43901,ytd,Calculated Intra-Period Ratio

In [24]:
def read_financial_data(field_name, table_name ,start_date, end_date):
    """
    Read financial data from DolphinDB database.
    
    Args:
        field_name (str): The name of the field to read.
        start_date (str): The start date of the data to read.
        end_date (str): The end date of the data to read.
        
    Returns:
    """ 
    data = DailyReader(rf'sp_financials_{table_name}').get_data(field_name, column_type='tradingitemid').loc[start_date:end_date]
    return data

In [25]:
long_term_debt = read_financial_data('financials_1049_ytd', 'ytd', '2020-01-01', '2025-01-01')
current_asset = read_financial_data('financials_1008_ytd', 'ytd', '2020-01-01', '2025-01-01')
ratio = read_financial_data('financials_43901_ytd', 'ytd', '2020-01-01', '2025-01-01')
shares = read_financial_data('financials_1070_ytd', 'ytd', '2020-01-01', '2025-01-01')
short_term_debt = current_asset / ratio
financial_debt = long_term_debt + short_term_debt
financial_debt_ratio = financial_debt / shares

In [26]:
financials_1049_ytd
financials_1008_ytd	current asset
financials_43901_ytd ratio

SyntaxError: invalid syntax (2822487968.py, line 2)

In [ ]:
a = pd.read_parquet('/home/yicheng/credit/data/mkidwsfpi2qmdzop.parquet')
use_lst = ['ticker','date','tenor','parspread','upfront']
b = a.loc[a['tenor']=='5Y']

In [ ]:
set(use_lst) - set(b.columns)

set()

In [ ]:
b[use_lst]

      ticker        date tenor  parspread   upfront
162      XRX  2021-01-01    5Y   0.017650  0.036259
163      XRX  2021-01-01    5Y   0.017650 -0.153332
164      XRX  2021-01-01    5Y   0.017812  0.037005
165      XRX  2021-01-01    5Y   0.017812 -0.152473
166      XRX  2021-01-01    5Y   0.017812  0.037005
...      ...         ...   ...        ...       ...
63241    XRX  2021-12-31    5Y   0.020569 -0.135467
63242    XRX  2021-12-31    5Y   0.020569  0.048645
63243    XRX  2021-12-31    5Y   0.020569 -0.135467
63244    XRX  2021-12-31    5Y   0.020569  0.048645
63245    XRX  2021-12-31    5Y   0.020569 -0.135467

[4692 rows x 5 columns]

In [ ]:
reader = DailyReader('option_factors_henry')

In [ ]:
reader.field_idx

['stock_tot_volume',
 'stock_tot_amount',
 'so_vol_ratio',
 'log_so_vol_ratio',
 'option_tot_volume',
 'pcratio',
 'tot_open_interest',
 'iv_slope',
 'skewiv',
 'minute_rv',
 'daily_rv',
 'C_1_A_iv',
 'C_1_B_iv',
 'C_1_C_iv',
 'C_1_D_iv',
 'C_1_E_iv',
 'C_1_F_iv',
 'C_1_G_iv',
 'C_1_H_iv',
 'C_1_I_iv',
 'C_1_J_iv',
 'C_1_K_iv',
 'C_1_L_iv',
 'C_1_M_iv',
 'C_1_N_iv',
 'C_1_O_iv',
 'C_1_P_iv',
 'C_1_Q_iv',
 'C_2_A_iv',
 'C_2_B_iv',
 'C_2_C_iv',
 'C_2_D_iv',
 'C_2_E_iv',
 'C_2_F_iv',
 'C_2_G_iv',
 'C_2_H_iv',
 'C_2_I_iv',
 'C_2_J_iv',
 'C_2_K_iv',
 'C_2_L_iv',
 'C_2_M_iv',
 'C_2_N_iv',
 'C_2_O_iv',
 'C_2_P_iv',
 'C_2_Q_iv',
 'C_3_A_iv',
 'C_3_B_iv',
 'C_3_C_iv',
 'C_3_D_iv',
 'C_3_E_iv',
 'C_3_F_iv',
 'C_3_G_iv',
 'C_3_H_iv',
 'C_3_I_iv',
 'C_3_J_iv',
 'C_3_K_iv',
 'C_3_L_iv',
 'C_3_M_iv',
 'C_3_N_iv',
 'C_3_O_iv',
 'C_3_P_iv',
 'C_3_Q_iv',
 'P_1_A_iv',
 'P_1_B_iv',
 'P_1_C_iv',
 'P_1_D_iv',
 'P_1_E_iv',
 'P_1_F_iv',
 'P_1_G_iv',
 'P_1_H_iv',
 'P_1_I_iv',
 'P_1_J_iv',
 'P_1_K_iv',
 'P_1_L_iv',
 'P_1_M_iv',
 'P_1_N_iv',
 'P_1_O_iv',
 'P_1_P_iv',
 'P_1_Q_iv',
 'P_2_A_iv',
 'P_2_B_iv',
 'P_2_C_iv',
 'P_2_D_iv',
 'P_2_E_iv',
 'P_2_F_iv',
 'P_2_G_iv',
 'P_2_H_iv',
 'P_2_I_iv',
 'P_2_J_iv',
 'P_2_K_iv',
 'P_2_L_iv',
 'P_2_M_iv',
 'P_2_N_iv',
 'P_2_O_iv',
 'P_2_P_iv',
 'P_2_Q_iv',
 'P_3_A_iv',
 'P_3_B_iv',
 'P_3_C_iv',
 'P_3_D_iv',
 'P_3_E_iv',
 'P_3_F_iv',
 'P_3_G_iv',
 'P_3_H_iv',
 'P_3_I_iv',
 'P_3_J_iv',
 'P_3_K_iv',
 'P_3_L_iv',
 'P_3_M_iv',
 'P_3_N_iv',
 'P_3_O_iv',
 'P_3_P_iv',
 'P_3_Q_iv',
 'var_spread',
 'var_spread_ratio',
 'vov',
 'civpiv',
 'expiration_date_C',
 'expiration_date_P',
 'avg_iv_open_C',
 'avg_iv_open_P',
 'avg_iv_close_C',
 'avg_iv_close_P',
 'total_volume_open_C',
 'total_volume_open_P',
 'total_volume_close_C',
 'total_volume_close_P',
 'volatility_spread',
 'io_vol_ratio',
 'atm_civpiv',
 'total_volume_last25min']

In [ ]:
pd.read_csv('/home/yicheng/credit/res/XRX.csv',index_col=0)

,ticker,tenor,parspread,convspreard,upfront,runningcoupon,primarycoupon,close_price,financial_debt_ratio,implied_vol,par_spread_error,delta,gamma
date,,,,,,,,,,,,,
2021-01-04,XRX,5Y,0.017354,0.016799,-0.154583,0.05,N,22.46,24.956666,0.256716,6.922901e-11,-0.001545,0.000164
2021-01-05,XRX,5Y,0.017326,0.016759,-0.154758,0.05,N,22.85,24.956666,0.259459,6.675119e-11,-0.001512,0.000157
2021-01-06,XRX,5Y,0.017109,0.017250,0.033659,0.01,Y,23.20,24.956666,0.260941,8.407833e-11,-0.001473,0.000151
2021-01-07,XRX,5Y,0.016987,0.017125,0.033055,0.01,Y,23.58,24.956666,0.263054,9.240652e-11,-0.001438,0.000145
2021-01-08,XRX,5Y,0.017039,0.017175,0.033248,0.01,Y,23.55,24.956666,0.263098,8.646947e-11,-0.001443,0.000146
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,XRX,5Y,0.059070,0.059685,0.034990,0.05,N,9.23,26.615634,0.217273,1.822987e-08,-0.009113,0.001929
2024-12-26,XRX,5Y,0.057494,0.057988,0.029030,0.05,N,9.17,26.615634,0.212361,2.775899e-08,-0.009053,0.001937
2024-12-27,XRX,5Y,0.057617,0.058121,0.029495,0.05,N,9.15,26.615634,0.212232,2.763587e-08,-0.009088,0.001948
2024-12-30,XRX,5Y,0.057769,0.058281,0.030005,0.05,N,8.91,26.615634,0.207499,3.583917e-08,-0.009400,0.002069
2024-12-31,XRX,5Y,0.057704,0.058211,0.029798,0.05,N,8.43,26.615634,0.196790,6.903569e-08,-0.010047,0.002338

In [ ]:
pd.read_csv('/home/yicheng/credit/res/res_20250916.csv',index_col=0)

,ticker,tenor,parspread,convspreard,upfront,runningcoupon,primarycoupon,close_price,financial_debt_ratio,implied_vol,par_spread_error
date,,,,,,,,,,,
2021-01-04,XRX,5Y,0.017354,0.016799,-0.154583,0.05,N,22.46,24.956666,0.256716,6.922901e-11
2021-01-05,XRX,5Y,0.017326,0.016759,-0.154758,0.05,N,22.85,24.956666,0.259459,6.675119e-11
2021-01-06,XRX,5Y,0.017109,0.017250,0.033659,0.01,Y,23.20,24.956666,0.260941,8.407833e-11
2021-01-07,XRX,5Y,0.016987,0.017125,0.033055,0.01,Y,23.58,24.956666,0.263054,9.240652e-11
2021-01-08,XRX,5Y,0.017039,0.017175,0.033248,0.01,Y,23.55,24.956666,0.263098,8.646947e-11
...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,XRX,5Y,0.059070,0.059685,0.034990,0.05,N,9.23,26.615634,0.217273,1.822987e-08
2024-12-26,XRX,5Y,0.057494,0.057988,0.029030,0.05,N,9.17,26.615634,0.212361,2.775899e-08
2024-12-27,XRX,5Y,0.057617,0.058121,0.029495,0.05,N,9.15,26.615634,0.212232,2.763587e-08
2024-12-30,XRX,5Y,0.057769,0.058281,0.030005,0.05,N,8.91,26.615634,0.207499,3.583917e-08
2024-12-31,XRX,5Y,0.057704,0.058211,0.029798,0.05,N,8.43,26.615634,0.196790,6.903569e-08